Package: com.greg0109.forwardnotifier
Name: ForwardNotifier
Depends: mobilesubstrate, sshpass, openssh, applist, preferenceloader, curl
Conflict: com.yourepo.greg0109.forwardnotifier8
Replaces: com.yourepo.greg0109.forwardnotifier8
Architecture: iphoneos-arm
Description: Forward Notifications to your PC!
Maintainer: Greg0109
Author: Greg0109
Section: Tweaks
Version: 1.4.1
Installed-Size: 784
